.nav-bar{
    
    background-color: lightskyblue;
    
}
.title{
    padding-left: 10%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;    
}
.text{
    background-color: white;
    border-style:groove;
    border-color: blue;
    border-radius: 10px;
    text-align: end;
}
.options{
   
    align-content: end;
}
.container{
    
    margin-left: auto;
    margin-right: auto;
    min-width: 80%;
}