<div class="container">
   
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class="search-bar">
    <form class="example" style="max-width:500px">
      <input [(ngModel)]="topicList" type="text" placeholder="Search.. java,python," name="search2">
      <button (click)="onClick()" type="submit"><i class="fa fa-search"></i></button>
    
    </form>    
  
    
    <div class="dropdown">
      <label for="option-names"><h3>Sort By </h3> </label> 
      <select  [(ngModel)]="sortBy" name="option-names" id="option-names" class="dropdown" > 
        <option value="stars" selected>Most Stars</option> 
          <option value="forks">Most Forks</option> 
          <option value="time">Recently Updated</option> 
      </select>
    
  
    </div>
   
  </div>
  <h1 class="nocontent">
    <div *ngIf="noContent">
        Its Nothing Here!
        Try Searching with Some Topics!
    </div>
  </h1>
  <div class="container" *ngIf="!noContent">
    <app-repository-list [repoInput]="repoInput"></app-repository-list>
  
  </div>
</body>
</html>


</div>
